<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.farmtech.smartfarm.alert.mapper.AlertMapper">

    <resultMap id="alert" type="com.farmtech.smartfarm.alert.dto.AlertDTO">
        <result column="ID"          property="id"/>
        <result column="SENSOR_TYPE" property="sensorType"/>
        <result column="VALUE"       property="value"/>
        <result column="THRESHOLD"   property="threshold"/>
        <result column="THRESHOLD_TYPE"   property="thresholdType"/>
        <result column="CREATED_AT"  property="createdAt"/>
    </resultMap>

    <!-- 알림 이력 조회 (최신순 100개) -->
    <select id="getAlerts" resultMap="alert">
        SELECT * FROM ALERT_LOG ORDER BY CREATED_AT DESC LIMIT 100
    </select>

</mapper>
