<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.farmtech.smartfarm.cart.mapper.CartMapper">
    <resultMap id="cartResultMap" type="com.farmtech.smartfarm.cart.dto.CartDTO">
        <id property="cartId" column="cart_id"/>
        <result property="memberId" column="member_id"/>
        <collection property="cartItemDTOList" ofType="com.farmtech.smartfarm.cart.dto.CartItemDTO">
            <id property="cartItemId" column="cart_item_id"/>
            <result property="cartId" column="cart_id"/>
            <result property="productId" column="product_id"/>
            <result property="cartItemQty" column="cart_item_qty"/>
            <association property="product" resultMap="com.farmtech.smartfarm.product.mapper.ProductMapper.productResultMap"/>
        </collection>
    </resultMap>

<!--  장바구니 아이템 담기 쿼리  -->
    <insert id="insertCartItem">
        INSERT INTO CART_ITEM (
            CART_ID
            , PRODUCT_ID
            , CART_ITEM_QTY
        ) VALUES (
            #{cartId}
            , #{productId}
            , #{cartItemQty}
        )
    </insert>

<!-- cartId 조회 쿼리 -->
    <select id="getCartId" resultType="int">
        SELECT CART_ID
        FROM CART
        WHERE MEMBER_ID = #{memberId}
    </select>

<!--  카트에 상품이 담겨있는지 조회하는 쿼리  -->
    <select id="findCartItem" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM CART_ITEM
        WHERE CART_ID = #{cartId}
        AND PRODUCT_ID = #{productId}
    </select>

<!--  이미 담겨있는 상품일 경우 수량 추가 쿼리  -->
    <update id="addItem">
        UPDATE CART_ITEM
        SET CART_ITEM_QTY = CART_ITEM_QTY + #{cartItemQty}
        WHERE CART_ID = #{cartId}
        AND PRODUCT_ID = #{productId}
    </update>

<!--  카트에 담긴 상품 조회 쿼리  -->
    <select id="getCartItems" resultMap="cartResultMap">
        SELECT
            C.CART_ITEM_ID
            , C.CART_ITEM_QTY
            , p.PRODUCT_ID
            , P.PRODUCT_NAME
            , P.PRODUCT_PRICE
            , P.PRODUCT_STOCK
            , I.IMAGE_SAVED_NAME
        FROM CART_ITEM C
            LEFT JOIN PRODUCT P ON C.PRODUCT_ID = P.PRODUCT_ID
            LEFT JOIN PRODUCT_IMAGE I ON P.PRODUCT_ID = I.PRODUCT_ID
        WHERE C.CART_ID = #{cartId}
        AND IMAGE_TYPE = 'MAIN';
    </select>

<!--  수량 변경 쿼리  -->
    <update id="updateCnt">
        UPDATE CART_ITEM
        SET CART_ITEM_QTY = #{cartItemQty}
        WHERE CART_ITEM_ID = #{cartItemId}
    </update>

<!--  선택 목록 삭제  -->
    <delete id="deleteItem">
        DELETE FROM CART_ITEM
        WHERE CART_ITEM_ID IN
        <foreach collection="idList" item="cartItemId" open="(" separator="," close=")">
            #{cartItemId}
        </foreach>
    </delete>

<!--  전체 목록 삭제  -->
    <delete id="deleteAllItem">
        DELETE FROM CART_ITEM
        WHERE CART_ID = #{cartId}
    </delete>

<!--  카트 번호 받기  -->
    <select id="getNextCartId" resultType="int">
        SELECT IFNULL(MAX(CART_ID), 0) + 1 FROM CART
    </select>

<!--  회원가입시 카트 같이 생성  -->
    <insert id="insertCart">
        INSERT INTO CART (CART_ID, MEMBER_ID)
        VALUES (#{cartId}, #{memberId})
    </insert>


</mapper>
