.w100 {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  overflow: auto;
}

.maxW540 {
  max-width: 540px;
}

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

.justifyBetween {
  justify-content: space-between;
}

.textCenter {
  text-align: center;
}

.title {
  margin-top: 32px;
  margin-bottom: 0;
  color: #191f28;
  font-weight: bold;
  font-size: 24px;
}

.responseSection {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 20px;
}

.responseLabel {
  font-weight: 600;
  color: #333d48;
  font-size: 17px;
}

.responseText {
  font-weight: 500;
  color: #4e5968;
  font-size: 17px;
  padding-left: 16px;
  word-break: break-word;
  text-align: right;
}

.buttonGroup {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 버튼 기본 */
.btn {
  padding: 11px 22px;
  border: none;
  border-radius: 8px;
  background-color: #f2f4f6;
  color: #4e5968;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}

/* 버튼 hover */
.btn:hover {
  background-color: #e5e8eb;
}

/* primary 버튼 */
.primary {
  background-color: #3282f6;
  color: #f9fcff;
}

.primary:hover {
  background-color: #1b64da;
}